.show_torah {
  padding-left: 4vw;
  padding-right: 4vw;
}
.show_torah .editTorah{
  display: block;
    margin-right: auto;
}
.show_torah .author {
  padding: 0 20px;
  background-color: #615d5d;
  width: fit-content;
  text-align: center;
  border-radius: 5px;
  color: white;
  opacity: 75%;
}
.show_torah .title {
  text-align: center;
}
.show_torah .tags > span {
  margin-left: 13px;
}
.show_torah .tags {
  margin-top: 30px;
  opacity: 75%;
}

.show_torah .tags .tag {
  font-size: 11px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #c4c4c473;
  margin-left: 1vw;
  border-color: #c4c4c49e;
}
.show_torah .date {
  margin: 4px 0 10px 0;
  width: fit-content;
  border-radius: 5px;
  opacity: 75%;
}
.show_torah h3 {
  margin-top: 30px;
  text-align: justify;
}
.show_torah h2 {
  font-weight: 600;
}
.show_torah hr {
  margin: 50px 50px 14px 50px;
}
.add_response_title {
  padding: 10px;
  border: solid 1px gray;
}
.responses .response {
  margin: 10px 0 10px 0;
  border: solid 1px #c4c4c4;
  display: grid;
  grid-template-columns: 70px auto;
  padding: 10px 2px 10px 2px;
  user-select: none;
}

.responses .response .index_response {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: blue;
  max-height: 55px;
}
.responses .response .data_response {
  grid-column: 2;
}
.responses .response details {
  outline: none;
}
.responses .response summary {
  outline: none;
}
.responses .response .title_response {
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  word-break: break-word;
}
