.add_response_page .title_response {
    background-color: #dcdcdc69;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

.add_response_title:focus {
    outline: none;
    border-color: hsl(208deg 79% 51%);
}

.add_response_page .body_response {
    margin-top: 10px;
    width: 100%;
}