.edit_torah {
    margin-right: 3vw;
    margin-left: 3vw;
  }
  
  .edit_torah .title_of_tora {
    font-size: 30px;
    width: 100%;
    background-color: #dcdcdc69;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 50px;
  }
  .edit_torah .title_of_tora:focus {
    outline: none;
    border-color: hsl(208deg 79% 51%);
  }
