.sign_in_page input::-webkit-input-placeholder {
  color: black;
}
.sign_in_page input:-moz-placeholder {
  color: black;
  opacity: 1;
}

.sign_in_page input::-moz-placeholder {
  color: black;
  opacity: 1;
}
.sign_in_page input:-ms-input-placeholder {
  color: black;
}

.sign_in_page {
  width: 65vw;
  max-width: 421px;
  border-style: solid;
  display: flex;
  flex-flow: column;
  height: 60vh;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  margin: 9vw;
  border-color: #d2c9d1;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
.sign_in_page h3 {
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 600;
}
.sign_in_page form {
  margin-right: 5px;
  margin-top: 33px;
}
.sign_in_page input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-color: #9e9e9e;
  border-bottom-width: 1px;
  line-height: 27px;
  margin-bottom: 10px;
}

.sign_in_page input:focus {
  outline: none;
}

.sign_in_page button:hover {
  background-color: #c4c4c470;
}
.sign_in_page button:focus {
  outline: none;
}
.sign_in_page button:active {
  background-color: #9a9494;
}
.sign_in_page button {
  border: none;
  width: 100px;
  height: 36px;
  background-color: #c4c4c4;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 34px;
}
